#socials {
    float: left;
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: black;

    /*居中对齐弹性盒的各项 <div> 元素：*/
    /*需要配合flex使用*/
    display: flex;
    align-items: center;
}
	#socials ul{
		padding-left:13px;
	}
	#socials ul li{
		margin-top: 20px;
		list-style-type: none;
	}
	#socials a{
		color:white;
		transition:color 0.3s linear;
	}
	#socials a:hover{
		color:rgba(121,0,231,1.00);
	}